.expectation__paragraph {
  max-width: 370px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.5;
  color: #000;
  margin: 0;
  /* margin-bottom: 26px; */
  border: 0;
}

@media screen and (max-width: 768px) {
    .expectation__paragraph {
      font-size: 12px;
      max-width: 300px;
     } 
  }