.reality__table {
  display: grid;
  grid-template-columns: 26% 26% 26% 21%;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .reality__table {
    grid-template-columns: repeat(auto-fit, minmax(264px, max-content));;
   }
}