.header__links {
  width: 100%;
  list-style: none; 
  display: flex;
  margin: 0 auto;
  padding: 0;
  border: none;
  box-sizing: border-box;
  gap: 18px 36px;
  /* padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;   */
}

@media screen and (max-width: 500px) {
  .header__links {
    flex-direction: column;
  }
}