.header__links {
  max-width: calc(100% - (68px * 2));
  width: 100%;
  list-style: none; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
  margin-top: 50px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  /* padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;   */
}