.expectation__description {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* justify-content: flex-start; */
  box-sizing: border-box;
  margin: 0;
  padding-left: 73px;
  padding-top: 60px;
  padding-bottom: 64px;
  /* padding-right: 200px; */
  grid-area: expectation-description;   
}

@media screen and (max-width: 768px) {
  .expectation__description {
    padding-left: 34px;
    padding-right: 10px;
   } 
}