.header__link {
  padding: 0;
  margin: 0;
  /* display: flex; */
  /* padding-right: 36px; */
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: #000;
  text-decoration: none;
  transition: opacity 0.3s linear 0.2s;
}

.header__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .header__link {
    font-size: 12px;
  }
} 